@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Basic Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
textarea {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3 {
  color: #3a435a;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* App Styles */
body {
  background-color: #e5e5e5;
}

.wrapper {
  background-color: #f8f7fa;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
  padding: 15px 30px;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 2;
}
header p {
  color: #6b6b6b;
  font-size: 18px;
}

#todayDate span {
  font-weight: 700;
}

#planner {
  width: 100%;
  padding: 15px;
}

.hourBlock {
  width: 100%;
  height: 10vh;
  min-height: 70px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.spacer {
  height: 110px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #efefef;
  border-bottom: none;
}

.hourBlock .hourBlockTime {
  width: 70px;
  text-align: center;
  margin-top: -9px;
  font-weight: 700;
  color: #a3a3a3;
  font-size: 12px;
}

.hourBlock .hourBlockDivider {
  width: calc(100% - 70px);
  height: 100%;
  border-top: 2px solid #f1f1f1;
}

.hourEvent {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #fff;
  border: 1px solid #fff;
  height: 90%;
  margin-top: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px 0 8%;
  text-align: right;
}
.hourEvent.past {
  background-color: #f5f3f8;
  border-color: #e8e6ed;
}

.blue {
  background-color: #e8f9ff !important;
  border-color: #a7e8ff !important;
}

.purple {
  background-color: #f4eaff !important;
  border-color: #ccb4e8 !important;
}

.red {
  background-color: #ffe6e8 !important;
  border-color: #ff9ca2 !important;
}

.yellow {
  background-color: #fffcc7 !important;
  border-color: #f3eb53 !important;
}

.green {
  background-color: #e0f8d5 !important;
  border-color: #a6de8c !important;
}

/* PopUp Styling */
#popUp {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100vh - 100px);
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

#popUp .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 85%;
  max-width: 500px;
}

.container h2 {
  padding: 10px 20px;
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container h3 {
  padding: 10px 20px;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;
  border: 1px solid #a7e8ff;
  background-color: #e8f9ff;
  padding: 20px;
  font-size: 18px;
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

#colorPicker {
  display: flex;
  padding: 0 20px;
}

.colorBtn {
  width: 45px;
  height: 45px;
  border: 2px solid;
  border-radius: 50%;
  margin: 5px;
}

.colorBtn.active {
  border: 6px solid;
}

#saveBtn {
  background-color: #a6de8c;
  border: 1px solid #79b95c;
  outline: none;
  color: #fff;
  font-size: 26px;
  padding: 5px 20px;
  margin: 15px auto;
  display: block;
}
